doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title 聊天室 - WeChat
    meta(name='renderer', content='webkit')
    meta(http-equiv='Cache-Control', content='no-siteapp')
    meta(name='mobile-web-app-capable', content='yes')
    link(rel="stylesheet", href="/chat/compiler/index?type=stylus&path=modules|chat|src|index.styl", type="text/css")

  body
    .container
      .self-info-edit-wrap.hide
        .btn.close-btn x
        .photo-wrap 
          input.photo-file.hide(type='file')
          img.photo(src = self.photo?self.photo:'/static/tmp/photo/default.jpg', _src = self.photo?self.photo:'/static/tmp/photo/default.jpg')
        .info
          input.name(type = "text", value = self.name || "", default = self.name || "")
          input.pass(type = "text", value = self.pass || "", default = self.pass || "")
          .btn.save 保存
          .remind-msg
      .self-info-wrap(uid = self._id) 
        img.photo(src = self.photo?self.photo:'/static/tmp/photo/default.jpg')
        span.name #{self.name}
        a.btn.logout(href='/chat/index/dologout') 退出
      .friend-list-wrap
        input.search(type='text')
        .friends-wrap
          .group.item.active(uid = "group")
            img.photo(src='/static/tmp/photo/group.png')
            span.name 计科1202班
            span.log-num.hide 0
          if friends && friends.length
            each friend in friends
              .friend.item(uid = friend._id)
                img.photo(src= friend.photo?friend.photo:'/static/tmp/photo/default.jpg')
                section.name-and-status
                  span.name #{friend.name}
                  - var cls = friend.online == "on" ? "status" : "status offline"
                  i(class = cls) 
                span.log-num.hide 0

      .chat-window
        .chat-log-wrap.group
          if logs && logs.length
            each log in logs
              - var cls = log.uid == self._id ? "item self" : "item other"
              div(class = cls)
                span.time #{log.time || ""}
                .log.clearfix
                  img.photo(src= log.photo || '/static/tmp/photo/default.jpg')
                  span.name #{log.name}
                  p.content #{log.content}

        textarea.type-write-wrap(wrap="hard")

    script(src="/static/modules/common/require.js", data-main="/chat/compiler/index?type=coffee&path=modules|chat|src|index.coffee")
      
    script(src="/chat/compiler/index?type=coffee&path=modules|common|common.coffee")
